*{
    box-sizing: border-box;
}

body{
    background-color: #296ca8;
    color: #fff;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    width: 700px;
}

.form input{
    width: 100%;
    padding: 12px;
}

.loader{
    opacity: 0;
    bottom: 50px;
    display: flex;
    position: fixed;
    transition: opacity 0.3s ease-in;
}

.loader.show{
    opacity: 1;
}

.loader .circle{
    animation: bounce 0.5s ease-in infinite;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
}

.circle:nth-of-type(2){
    animation-delay: 0.1s;
}

.circle:nth-of-type(3){
    animation-delay: 0.2s;
}

@keyframes bounce{
    0%,
    100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }
}

.posts{
    width: 700px;
}

.post{
    background-color: #4992d3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    margin:40px 0;
    padding: 20px;
    position: relative;
}

.post .post-body{
    line-height: 1.3;
    margin: 15px 0 0;

}

.post .post-info{
    margin-left: 20px;
}

.post .post-number{
    background-color: #fff;
    border-radius: 50%;
    color: #4992d3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    left: -15px;
    top: -15px;
    position: absolute;
    width: 40px;
}



.post-title{
    margin: 0;
}